/* Open Hours Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.openhours_container {
    width: 100%;

    margin-top: 20px;
}




/* Header */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.openhours_header {
    font-size: 11px;
    text-align: left;
    letter-spacing: 9px;

    padding-left: 10px;
}




/* Header Underline */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#openhours_underline {
    display: block;

    height: 1px;

    margin-top: 20px;

    background-color: #9c9c9c;
}




/* Content */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#openhours_content {
    font-size: 10px;
    letter-spacing: 3.5px;
    line-height: 25px;

    padding-left: 10px;

    margin-top: 10px;
}