/* Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#vehicleinfo_container {
    width: 100%;
    max-width: 674px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* Information Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#information_container {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}




/* Vehicle Preview */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_preview { width: 90%; }




/* Vehicle Information */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_information {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




/* Content Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.information_content_container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}




/* Button Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.information_button_container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}




/* For Screens of 596 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 596px) {
    /* Button Container */
    /* ============================================================================ */
    /* ============================================================================ */
    .information_button_container {
        margin-bottom: 15px;

        flex-direction: row;
        justify-content: space-evenly;
    }
}




/* For Screens of 1420 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 1420px) {
    /* Container */
    /* ============================================================================ */
    /* ============================================================================ */
    #vehicleinfo_container {
        max-width: unset;
        width: 1400px;
        
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
    }



    /* Information Container */
    /* ============================================================================ */
    /* ============================================================================ */
    #information_container {
        padding-top: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }



    /* Button Container */
    /* ============================================================================ */
    /* ============================================================================ */
    .information_button_container { justify-content: space-between; }



    /* Generic */
    /* ============================================================================ */
    /* ============================================================================ */
    .vehicle_information, .vehicle_preview { width: 48%; }
}




/* For Screens of 1700 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 1700px) {
    /* Container */
    /* ============================================================================ */
    /* ============================================================================ */
    #vehicleinfo_container { width: 1590px; }
}