/* Vehicle Item */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Appearance */
/* ============================================================================ */
.vehicle_item {
    text-decoration: none;

    border-color: transparent;
    border-radius: 10px;

    background-color: transparent;

    width: 430px;

    padding: 5px !important;

    margin: 20px;
}


/* Hover */
/* ============================================================================ */
.vehicle_item:hover { background-color: rgb(235, 235, 235); }


/* Press */
/* ============================================================================ */
.vehicle_item:active { background-color: rgb(214, 214, 214); }




/* Vehicle Item Icon */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_item_icon {
    width: 100%;
    height: 202px;
}




/* Vehicle Item Content */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_item_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}




/* Header */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_item_header {
    font-size: 14px;
    letter-spacing: 7px;
}




/* Subheader */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_item_subheader {
    font-size: 10px;
    letter-spacing: 8px;
}




/* General */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Text Colour */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_item_header, .vehicle_item_subheader { color: rgb(161, 161, 161); }



/* Element Spacing */
/* ============================================================================ */
/* ============================================================================ */
.vehicle_item_icon, .vehicle_item_header { margin-bottom: 15px; }




/* For Screens of 940 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 940px) {
    /* Vehicle Item */
    /* ============================================================================ */
    /* ============================================================================ */
    .vehicle_item {
        padding: 10px !important;
    }


    /* Header */
    /* ============================================================================ */
    /* ============================================================================ */
    .vehicle_item_header {
        font-size: 14.7px;
        letter-spacing: 10px;
    }


    /* Subheader */
    /* ============================================================================ */
    /* ============================================================================ */
    .vehicle_item_subheader{
        font-size: 10.7px;
        letter-spacing: 7px;
      }


    /* Element Spacing */
    /* ============================================================================ */
    /* ============================================================================ */
    .vehicle_item_icon, .vehicle_item_header { margin-bottom: 20px; }
}