/* Header */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#navigation_header {
    font-size: 2.5dvh !important;
    text-shadow: 4px 3px 2px #00000079;
    letter-spacing: 20px;

    padding: 0 !important;

    margin: 0 0 0 15px;
}




/* Collapse */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#navigation_collapse {
    margin-left: 7px;
    margin-top: auto;
    margin-bottom: auto;
}




/* Collapse Text */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#nav-text-collapse { margin-left: 20px; }




/* Link */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.nav-link { font-family: Arial, Helvetica, sans-serif }