/* Header Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.header_container {
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
}




/* Header Element */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Header Element */
/* ============================================================================ */
.header_element {
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 20px;

    padding: 7px 10px 7px 10px;
}


/* Subheader Element */
/* ============================================================================ */
.subheader_element { font-size: 9px; }


/* Header Element Light */
/* ============================================================================ */
.header_element_light {
    color: white;
    text-shadow: 4px 3px 2px #00000079;
}


/* Header Element Dark */
/* ============================================================================ */
.header_element_dark { color: black; }




/* Underline */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Underline Visible */
/* ============================================================================ */
.underline_visible {
    display: block;

    height: 2px;

    margin-top: 15px;
}


/* Underline Hidden */
/* ============================================================================ */
.underline_hidden { display: none; }


/* Underline Light */
/* ============================================================================ */
.underline_light { background-color: white; }


/* Underline Dark */
/* ============================================================================ */
.underline_dark { background-color: black; }




/* For Screens of 555 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 555px) {
    /* Header Element */
    /* ============================================================================ */
    /* ============================================================================ */
    /* Header Element */
    /* ============================================================================ */
    .header_element {
        font-size: 20px;
        letter-spacing: 7px;
        line-height: 30px;
    }


    /* Subheader Element */
    /* ============================================================================ */
    .subheader_element { font-size: 10px; }
}




/* For Screens of 1050 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 1050px) {
    /* Header Element */
    /* ============================================================================ */
    /* ============================================================================ */
    /* Header Element */
    /* ============================================================================ */
    .header_element {
        font-size: 25px;
        letter-spacing: 10px;
        line-height: 40px;
    }


    /* Subheader Element */
    /* ============================================================================ */
    .subheader_element { font-size: 12px; }
}