/* Submission Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#submission_container {
    height: 94.2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}