/* Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_container {
    width: 100%;

    margin-top: 45px; 

    display: flex;
    flex-direction: column;
}




/* Header */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_header {
    font-size: 9px;
    letter-spacing: 7px;

    padding-left: 0.5rem;
}




/* Dropdown Element */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_element {
    text-align: left;
    line-height: 47px;

    outline: none;

    width: 100%;
    height: 47px;

    position: relative;
}




/* Dropdown Label */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Appearance */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_element #dropdown_label {
    color: black;

    border: 1px solid #9c9c9c;
    border-width: 0 0 1px 0;

    background-color: white;

    padding-left: 0.5rem;

    cursor: pointer;

    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



/* Dropdown Active */
/* ============================================================================ */
/* ============================================================================ */
.dropdown__active { color: black !important; }



/* Dropdown Unactive */
/* ============================================================================ */
/* ============================================================================ */
.dropdown_unactive {
    color: grey !important;
    
    cursor: default !important;
}



/* Dropdown Label - Open Border */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_element #dropdown_label.open { border: 1px solid black; }



/* Dropdown Icon */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_icon {
    width: 20px;
    height: 20px;

    margin-right: 0.5rem;
}




/* Dropdown Menu */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Menu */
/* ============================================================================ */
#dropdown_element #dropdown_menu_items {
    color: #fff;

    border: solid black;
    border-width: 0 1px 1px 1px;
    border-radius: 0px 0px 6px 6px;

    overflow: hidden;

    background-color: white;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}


/* Hide Menu on Close  */
/* ============================================================================ */
.selectHide { display: none; }




/* Menu Items */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Appearance */
#dropdown_element #dropdown_menu_items .dropdown {
    color: black;

    padding-left: 1em;

    cursor: pointer;

    user-select: none;
}



/* Hover */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_element #dropdown_menu_items .dropdown:hover { background-color: rgb(231, 231, 231); }



/* Press */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_element #dropdown_menu_items .dropdown:active { background-color: rgb(212, 212, 212); }




/* Generic */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#dropdown_label, #dropdown_menu_items {
    font-size: 11px;
    letter-spacing: 6px;
}




/* For Screens of 596 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 596px) {
    /* Header */
    /* ============================================================================ */
    /* ============================================================================ */
    /* ============================================================================ */
    #dropdown_header { font-size: 11px; }



    /* Generic */
    /* ============================================================================ */
    /* ============================================================================ */
    #dropdown_label, #dropdown_menu_items { font-size: 13px; }
}