/* Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#location_container { width: 100%; }




/* Visibility */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Visible */
/* ============================================================================ */
.location_visible { display: unset; }


/* Hidden */
/* ============================================================================ */
.location_hidden { display: none; }