/* Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#information_content_container {
    width: fit-content;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: self-end;
}




/* Header */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.information_content_header {
    font-size: 14px;
    letter-spacing: 4px;
}




/* Subheader */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#information_content_subheader {
    font-size: 10px;

    padding-right: 10px;
}




/* For Screens of 596 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 596px) {
    /* Header */
    /* ============================================================================ */
    /* ============================================================================ */
    .information_content_header {
        font-size: 16px;
        letter-spacing: 6px;
    }



    /* Subheader */
    /* ============================================================================ */
    /* ============================================================================ */
    #information_content_subheader { font-size: 11px; }
}




/* For Screens of 1700 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 1700px) {
    /* Header */
    /* ============================================================================ */
    /* ============================================================================ */
    .information_content_header {
        font-size: 18px;
        letter-spacing: 9px;
    }



    /* Subheader */
    /* ============================================================================ */
    /* ============================================================================ */
    #information_content_subheader { font-size: 11px; }
}