/* Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#location_content_container {
    width: 100%;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}




/* Icon */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#location_content_icon {
    width: 25px;
    height: 25px;

    margin: 0 10px 0 10px;
}




/* Hyperlink */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#location_content_hyperlink {
    color: black;
    font-size: 11px;
    letter-spacing: 1.1px;
}




/* Content */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
#location_content {
    color: black;
    font-size: 11px;
    letter-spacing: 6px;
}