/* Title Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.title_container {
    width: 100%;

    margin-top: 65px;
}




/* Title Element */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.title_element {
    font-size: 15px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 20px;

    padding: 7px 10px 0 10px;
}




/* Subtitle Container */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.subtitle_container {
    width: 100%;

    margin-top: 50px;
}




/* Subtitle Element */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.subtitle_element {
    font-size: 13px;
    text-align: left;
    letter-spacing: 7px;

    padding-left: 10px;
}




/* Underline */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Appearance */
/* ============================================================================ */
/* ============================================================================ */
.title_element_underline {
    display: block;

    height: 1px;

    margin-top: 20px;
}



/* Title Underline */
/* ============================================================================ */
/* ============================================================================ */
.title_underline { background-color: black; }



/* Subtitle Underline */
/* ============================================================================ */
/* ============================================================================ */
.subtitle_underline { background-color: #9c9c9c; }




/* For Screens of 596 Pixels or Higher */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
@media screen and (min-width: 596px) {
    /* Title Element */
    /* ============================================================================ */
    /* ============================================================================ */
    .title_element {
        font-size: 17px;
        letter-spacing: 6px;
    }
}